<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PatientMapper">

	<resultMap type="patient" id="patientSelectMap">
		<result property="patientNo" column="patient_no" jdbcType="NUMERIC" />
		<result property="name" column="name" jdbcType="VARCHAR" />
		<result property="socialId" column="social_id" jdbcType="VARCHAR" />
		<result property="sex" column="sex" jdbcType="CHAR" />
	</resultMap>

	<select id="getPatient" parameterType="int"
		resultMap="patientSelectMap">
		SELECT *
		FROM patient
		WHERE patient_no = #{value}
	</select>

	<select id="getAllPatient" resultMap="patientSelectMap">
		SELECT * FROM patient
	</select>

	<select id="getPatientForSearch" resultMap="patientSelectMap" parameterType="search">
		SELECT *
		FROM patient
		<where>
			<if test="searchCondition != null">
				<if test="searchCondition == 'name' and searchKeyword !=''">
					name LIKE N'%' + #{searchKeyword} + '%'
				</if>
				<if test="searchCondition == 'patientNo' and searchKeyword !=''">
					patient_no LIKE N'%' + #{searchKeyword} + '%'
				</if>
				<if test="searchCondition == 'socialId' and searchKeyword !=''">
					social_id LIKE N'%' + #{searchKeyword} + '%'
				</if>
			</if>
		</where>

	</select>
	

</mapper>